/*----  IMAGES FROM http://www.simonpuschmann.com/portfolio/ 
        Check out his work! ----*/      

//variables
$main-font: 'Amatic SC';
$secondary-font: "Josefin Slab";

$nrf: no-repeat fixed;
$nrs: no-repeat scroll;

$red: #d60808;
$white: #fff;
$green: #30472e;

$arrow-rotate-out: all 2.0s cubic-bezier(.37,1.01,.8,.99);

//These variable help replace background-size: cover while allowing background animations
//background-size: 100vw $specs-1-height replicates background-size: cover
//and allows scrollmagic/gsap to alter background size
//The multiple is based on each image's proportions. 
$intro-1-height: 100vw * .6668; 
$intro-3-height: 120vw * .7492; //Multiple based on image proportions
$intro-4-height: 100vw * .5625; //Multiple based on image proportions
$specs-1-height: 100vw * 0.5648;
$specs-3-height: 100vw * .7492; //Multiple based on image proportions

@keyframes occasional-brightness{
    20%, 30%	{-webkit-filter: brightness(100%); -moz-filter: brightness(100%);}
	25%		    {-webkit-filter: brightness(120%); -moz-filter: brightness(120%);}
}

@keyframes backgroundFlash{
    0%, 24%, 70%    {opacity: 1;}
    25%             {opacity: 0.8;}  
}

@keyframes moveArrows{
    0% { transform: translateY(0px);}
    50% {transform: translateY(10px);}
}

//mixins
@mixin main-font{
    font-family: $main-font, cursive;
}

@mixin secondary-font{
    font-family: $secondary-font, serif;
}

@mixin underscore{
    display:block;
    content:  '';
    border-bottom: solid 5px $green;
    border-radius: 15px;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
}

@mixin nav-color-change($b-radius: 20px){
    border-radius: $b-radius;
    transition: all 0.3s ease-in;
        
    &:hover{
        background: $white;
        color: $green;
    }
}

@mixin occasional-brightness{
    animation: occasional-brightness 8s infinite;
}

@mixin global-padding{
    padding: 0 10vw;
}

@mixin flex-display{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


@mixin for-small-phone-portrait {
    @media (max-width: 399px){ @content; }
}

@mixin for-large-phone-portrait {
    @media (min-width: 400px) and (max-width: 599px) { @content; }
}

@mixin for-small-tablet-portrait {
    @media (min-width: 600px) and (max-width: 899px) and (orientation: portrait){ @content; }
}

@mixin for-phone-landscape {
    @media (min-width: 600px) and (max-width: 899px) and (orientation: landscape){ @content; }
}

@mixin for-large-tablet-portrait {
    @media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait){ @content; }
}

@mixin for-tablet-landscape {
    @media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape){ @content; }
}

@mixin for-small-desktop-or-large-tablet-landscape {
    @media (min-width: 1200px) and (max-width: 1399px){ @content; }
}

@mixin for-2K-and-4K-desktop-landscape {
    @media (min-width: 1921px){ @content; }
}

/*@mixin for-big-desktop {
    @media (min-width: 1800px) { @content; }
}*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
//------------RESET-------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background: $white;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: default;
    overflow-x: hidden;  
}

//modifies text highlight color
::selection {
    color: $white;
    background: $green; /* WebKit/Blink Browsers */
}

.App{
    position: relative;
    width: 100%;
}

h1{
    color: #fff;
}

a:focus{
    outline: 2px solid $green;
}

.tooltip-span{
    font-family: $main-font, Arial, Helvetica, serif;
    color: $white;
}

.check{
    color: $green !important;
}

.disable-arrows{
    pointer-events: none;
}

.fade-in{
    opacity: 1 !important;
}

.fade-out{
    opacity: 0 !important;
}

#App-logo {
    position: relative;
    top: 0;
    display: block;
    margin: 0 auto;
    width: 10%;
    //animation: App-logo-spin infinite 20s linear;
    height: 40px;
}

/*
#m-logo{
    position:relative;
    top:5px;
    display:block;
    margin:auto;
}*/

.Intro-div {
    position: relative;
    height: 100vh;
    background: url("./img/finland-ussr-flags.jpg") $nrs 50% 50%;
    background-size: 100vw $intro-1-height; //replacement for "cover" property makes parallax background scrolling possible 
    @include occasional-brightness;
    //@include global-padding;
    z-index: 20;    
    
    #intro-video {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%; 
        animation: backgroundFlash 15s infinite 0s;
    }
    
    .text-container{
        height: 100%;
        width: 100%;
        z-index: 99;
    }
    
    #the-winter-war{
        position: absolute;
        bottom: 40vh;
        @include main-font;
        font-size: 12em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #talvisota, #zimnyaya-voyna{
        position: absolute;
        bottom: 40vh;
        @include main-font;
        font-size: 12em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-story{
        position: absolute;
        bottom: 37vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.Buffer-Zone-div {
    position: relative;
    height: 190vh;
    background: $green;
    
    #bufernaya-zona{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #buffer-zone{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #buffer-zone-paragraph{
        position: relative;
        top: 45vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
    
    #karelia-map{
        position: relative;
        top: 40vh;
        height: 400px;
        background: url("img/karelia.png") $nrs center center;
        background-size: contain;
        border-radius: 10px;
    }
}

.Inevitable-War-div {
    position: relative;
    height: 160vh;
    background: url("img/ussr-wallpaper.jpg") $nrf center center;
    background-size: cover;
    
    #neizbezhnaya-voyna{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #inevitable-war{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #stalin{
        position: relative;
        top: 45vh;
        height: 400px;
        background: url("img/stalin.jpg") $nrs center center;
        background-size: contain;
        border-radius: 10px;
    }
    
    #inevitable-war-paragraph{
        position: relative;
        top: -50vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
}

.Outnumbered-div {
    position: relative;
    height: 170vh;
    background: url("img/tanks-red-army.jpg") $nrf center center;
    background-size: cover;
    
    #alakynnessa{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #outnumbered{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #outnumbered-paragraph{
        position: relative;
        top: 40vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
}

.Home-Field-Advantage-div {
    position: relative;
    height: 190vh;
    background: url("img/forest.jpeg") $nrf center center;
    background-size: cover;
    
    #kotikenttaetu{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #home-field-advantage{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #home-field-advantage-paragraph{
        position: relative;
        top: 40vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
    
    #finnish-soldiers{
        position: relative;
        top: 40vh;
        height: 400px;
        background: url("img/finnish-soldiers.jpg") $nrs center center;
        background-size: contain;
        border-radius: 10px;
    }
}

.It-Begins-div {
    position: relative;
    height: 180vh;
    background: $green;
    background-size: cover;
    
    #nachinayetsya{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #it-begins{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #soviet-troops{
        position: relative;
        top: 45vh;
        height: 400px;
        background: url("img/soviet-troops.jpg") $nrs center center;
        background-size: contain;
        border-radius: 10px;
    }
    
    #it-begins-paragraph{
        position: relative;
        top: -75vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
}

.The-Winter-Freeze-div {
    position: relative;
    height: 160vh;
    background: url("img/blizzard.jpg") $nrf 100% 20%;
    background-size: cover;
    
    #zimniye-zamorazhivaniye{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #the-winter-freeze{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-winter-freeze-paragraph{
        position: relative;
        top: 40vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
}

.The-White-Death-div {
    position: relative;
    height: 200vh;
    background: url("img/sniper.jpg") $nrf center center;
    background-size: cover;
    
    #valkoinen-kuolema{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #the-white-death{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-white-death-paragraph{
        position: relative;
        top: 45vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
    
    #simo-hayha{
        position: relative;
        top: 50vh;
        height: 400px;
        background: url("img/simo-hayha.jpg") $nrs center center;
        background-size: contain;
        border-radius: 10px;
    }
}




