//variables
$main-font: 'Amatic SC';
$secondary-font: "Josefin Slab";

$nrf: no-repeat fixed;
$nrs: no-repeat scroll;

$white: #fff;
$green: #30472e;
$blue: #0061ff;

$arrow-rotate-out: all 2.0s cubic-bezier(.37,1.01,.8,.99);

//These variable help replace background-size: cover while allowing background animations
//background-size: 100vw $specs-1-height replicates background-size: cover
//and allows scrollmagic/gsap to alter background size
//The multiple is based on each image's proportions. 
$intro-1-height: 100vw * .6668; 
$intro-3-height: 120vw * .7492; //Multiple based on image proportions
$intro-4-height: 100vw * .5625; //Multiple based on image proportions
$specs-1-height: 100vw * 0.5648;
$specs-3-height: 100vw * .7492; //Multiple based on image proportions

@keyframes occasional-brightness{
    20%, 30%	{-webkit-filter: brightness(100%); -moz-filter: brightness(100%);}
	25%		    {-webkit-filter: brightness(120%); -moz-filter: brightness(120%);}
}

@keyframes background-flash{
    0%, 20%, 70%    {opacity: 1;}
    25%             {opacity: 0.8;}  
}

@keyframes blinking-image{
    0%      {opacity: 0;}
    50%     {opacity: 1;}
}

@keyframes blinking-text-white{
    0%      {text-shadow: 1px 1px transparent;}
    50%     {text-shadow: 1px 1px $white;}
}

@keyframes blinking-text-green{
    0%      {text-shadow: 1px 1px transparent;}
    50%     {text-shadow: 1px 1px $green;}
}

@keyframes down-arrow-animation{
    0%          {transform: translateY(0); opacity: 1;}
    50%         {transform: translateY(30px); opacity: 1;}
    65%         {transform: translateY(30px); opacity: 0;}
    70%,95%     {transform: translateY(0); opacity: 0;}
}

//mixins
@mixin green-gradient-background{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#162115+0,2b3f29+27,354c32+83,3d593a+100 */
background: #162115; /* Old browsers */
background: -moz-linear-gradient(top, #162115 0%, #2b3f29 27%, #354c32 83%, #3d593a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #162115 0%,#2b3f29 27%,#354c32 83%,#3d593a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #162115 0%,#2b3f29 27%,#354c32 83%,#3d593a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162115', endColorstr='#3d593a',GradientType=0 ); /* IE6-9 */
}

@mixin main-font{
    font-family: $main-font, cursive;
}

@mixin secondary-font{
    font-family: $secondary-font, serif;
}

@mixin a-tag-styling{
    color: $white;
    text-decoration: none;
    @include main-font;
    text-shadow: 1px 1px transparent;
    
    &:hover{
        animation: blinking-text-white 2s infinite;
    }
}

@mixin image-hover{
    img{
        padding-left: 400px;
        transition: filter 0.2s ease-in;
    }
}

@mixin nav-color-change($b-radius: 20px){
    border-radius: $b-radius;
    transition: all 0.3s ease-in;
        
    &:hover{
        background: $white;
        color: $green;
    }
}

@mixin occasional-brightness{
    animation: occasional-brightness 8s infinite;
}

@mixin paragraph-margin($margin-top: 45vh, $margin-bottom: 20vh){
    padding: $margin-top 0 $margin-bottom 0;
}

@mixin flex-display{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin for-phone-portrait {
    @media (max-width: 9999px) and (orientation: portrait){ @content; }
}

@mixin for-small-tablet-portrait {
    @media (min-width: 600px) and (max-width: 899px) and (orientation: portrait){ @content; }
}

@mixin for-phone-landscape {
    @media (min-width: 600px) and (max-width: 899px) and (orientation: landscape){ @content; }
}

@mixin for-large-tablet-portrait {
    @media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait){ @content; }
}

@mixin for-tablet-landscape {
    @media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape){ @content; }
}

@mixin for-small-desktop-or-large-tablet-landscape {
    @media (min-width: 1200px) and (max-width: 1399px){ @content; }
}

@mixin for-2K-and-4K-desktop-landscape {
    @media (min-width: 1921px){ @content; }
}

/*@mixin for-big-desktop {
    @media (min-width: 1800px) { @content; }
}*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
//------------RESET-------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background: $white;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: default;
    overflow-x: hidden;  
}

//modifies text highlight color
::selection {
    color: $white;
    background: $green; /* WebKit/Blink Browsers */
    opacity: 1;
}

.App{
    position: relative;
    width: 100%;
}

h1{
    color: #fff;
}

a:focus{
    outline: 2px solid $green;
}

*:focus{
    outline: none !important;
}

.tooltip-span{
    font-family: $secondary-font, Arial, Helvetica, serif;
    font-size: 1.7em;
    color: $green;
    
}

.check{
    color: $green !important;
}

.disable-arrows{
    pointer-events: none;
}

.fade-in{
    opacity: 1 !important;
}

.fade-out{
    opacity: 0 !important;
}

#App-logo {
    position: relative;
    top: 0;
    display: block;
    margin: 0 auto;
    width: 10%;
    //animation: App-logo-spin infinite 20s linear;
    height: 40px;
}

.blinking-image-class{
    animation: blinking-image 2s infinite;
}

#menu{
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 97;
    transition: opacity 0.2s ease-in;
    
    &:hover{
        cursor: pointer;
    }
}

#menu-clone{
    position: fixed;
    top: 11px;
    right: 19.5px;
    opacity: 0;
    z-index: 98;
    transition: opacity 0.2s ease-in;
    
    &:hover{
        cursor: pointer;
    }
}

.navbar{
    position: fixed;
    top: -58px !important;
    height: 55px;
    width: 100vw;
    background: $white;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 3px rgba(0,0,0,0.3);
    z-index: 99;
    transition: all 0.2s ease-in;
    
    .navbar-nav{
        width: 100vw !important;
    }
}

.navbar-default .navbar-nav > li > a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 17.5px 9px;
    color: $green;
    @include main-font;
    font-size: 1.5em;
    transition: all 0.2s ease-in;
    
    &:hover{
        color: $green;
        background-color: $white;
        animation: blinking-text-green 2s infinite;
    }
}

.navbar-default .navbar-nav > li:first-child{
    margin-left: 2vw;
}
    
.navbar-default .navbar-nav >.active > a {
    color: $white;
    background: $green;    
    //animation: blinking-text-green 2s infinite;
}

.navbar-default .navbar-nav> li:nth-child(n+2) > a:focus{
    animation: blinking-text-green 2s infinite;
}

.navbar-default .navbar-nav >.active > a:hover{
    color: $white;
    background: $green;
    animation: blinking-text-white 2s infinite;
}

.navbar-displayed{
    top: 0px !important;
}

#up-arrow{
    position: absolute;
    top: 10px;
    right: 37px;
    transition: opacity 0.2s ease-in;
    
    &:hover{
        cursor: pointer;
    }
}

#up-arrow-clone{
    position: absolute;
    top: 11px;
    right: 36px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    
    &:hover{
        cursor: pointer;
    }
}

.intro-div {
    position: relative;
    height: 100vh;
    background: url("./img/finland-ussr-flags.jpg") $nrs 50% 50%;
    background-size: 100vw $intro-1-height; //replacement for "cover" property makes parallax background scrolling possible 
    //@include occasional-brightness;
    //@include global-padding;
    z-index: 50;    
    
    #intro-video {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%; 
        animation: background-flash 15s infinite 0s;
        filter: contrast(110%);
    }
    
    .text-container{
        height: 100%;
        width: 100%;
        z-index: 99;
    }
    
    #the-winter-war{
        position: absolute;
        bottom: 40vh;
        @include main-font;
        font-size: 12em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        text-shadow: 2px 2px $green;
        transition: opacity 0.2s ease-in;
    }
    
    #the-story{
        position: absolute;
        bottom: 37vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        text-shadow: 2px 2px $green;
    }
    
    #down-arrow{
        position: absolute;
        bottom: 7vh;
        @include main-font;
        font-size: 2.5em;
        color: $white;
        left: 0;
        right: 0;
        width: 30px;
        margin: auto;
        cursor: pointer;
        line-height: 25px;
        text-shadow: 2px 2px $green;
        animation: down-arrow-animation 3s infinite;
        z-index: 99;
    }
}

.buffer-zone-div {
    position: relative;
    height: auto;
    padding:0; margin:0; border-width: 0;
    @include green-gradient-background;
    
    #bufernaya-zona{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #buffer-zone{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #buffer-zone-paragraph{
        position: relative;
        @include secondary-font;
        @include paragraph-margin;
        font-size: 2em;
        color: $white;
        //z-index: 25;
        
        a{
            @include a-tag-styling;
        }
    }
    
    #buffer-zone-image{
        position: relative;
        top: 50vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        //z-index: 25;
        @include image-hover;
        
        #karelia-map{
            height: 100%;
            width: 100%;
            background: url("img/karelia.png") $nrs 0% 100%;
            background-size: 150%;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                text-align: center;
                transition: opacity 0.2s ease-in;
                
                a{
                    @include a-tag-styling;
                }
            } 
        }
    }
}

.inevitable-war-div {
    position: relative;
    height: auto;
    background: url("img/ussr-wallpaper.jpg") $nrf center center;
    background-size: cover;
    
    #neizbezhnaya-voyna{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #inevitable-war{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #inevitable-war-image{
        position: relative;
        top: 45vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #stalin{
            height: 100%;
            width: 100%;
            background: url("img/stalin.jpg") $nrs center 0%;
            background-size: 100% 115.1%;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                text-align: center;
                transition: opacity 0.2s ease-in;
                
                a{
                    @include a-tag-styling;
                }
            } 
        }
    }
    
    #inevitable-war-paragraph{
        position: relative;
        top: -10vh;
        @include secondary-font;
        @include paragraph-margin(0, 10vh);
        font-size: 2em;
        color: $white;
        
        a{
            @include a-tag-styling;
        }
    }
}

.outnumbered-div {
    position: relative;
    height: auto;
    background: url("img/tanks-red-army.jpg") $nrf center center;
    background-size: cover;
    
    #alakynnessa{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #outnumbered{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #outnumbered-paragraph{
        position: relative;
        @include paragraph-margin;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        
        a{
            @include a-tag-styling;
        }
    }
}

.home-field-advantage-div {
    position: relative;
    height: auto;
    background: url("img/forest-1.jpg") $nrf center 100%;
    background-size: cover;
    
    #kotikenttaetu{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #home-field-advantage{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #home-field-advantage-paragraph{
        position: relative;
        @include paragraph-margin;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
    
    #home-field-advantage-image{
        position: relative;
        top: 45vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #finnish-soldiers{
            height: 100%;
            width: 100%;
            background: url("img/finnish-soldiers.jpg") $nrs 100% center;
            background-size: cover;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                text-align: center;
                transition: opacity 0.2s ease-in;
                
                a{
                    @include a-tag-styling;
                }
            } 
        }
    }
}

.it-begins-div {
    position: relative;
    height: auto;
    @include green-gradient-background;
    
    #nachinayetsya{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #it-begins{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #it-begins-image{
        position: relative;
        top: 45vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #soviet-tanks{
            height: 100%;
            width: 100%;
            background: url("img/soviet-tanks.jpg") $nrs 10% center;
            background-size: auto 100%; 
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                text-align: center;
                transition: opacity 0.2s ease-in;
            } 
        }
    }
    
    #it-begins-paragraph{
        position: relative;
        top: -10vh;
        @include paragraph-margin(0, 10vh);
        @include secondary-font;
        font-size: 2em;
        color: $white;
        
        a{
            @include a-tag-styling;
        }
    }
}

.the-winter-freeze-div {
    position: relative;
    height: auto;
    background: url("img/forest-2.jpg") $nrf 100% 100%;
    background-size: cover;
    
    #zimniye-zamorazhivaniye{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #the-winter-freeze{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-winter-freeze-paragraph{
        position: relative;
        @include paragraph-margin;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
}

.the-white-death-div {
    position: relative;
    height: auto;
    background: url("img/sniper.jpg") $nrf center center;
    background-size: cover;
    
    #valkoinen-kuolema{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #the-white-death{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-white-death-paragraph{
        position: relative;
        @include paragraph-margin;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
    
    #the-white-death-image{
        position: relative;
        top: 50vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #simo-hayha{
            height: 100%;
            width: 100%;
            background: url("img/simo-hayha.jpg") $nrs center 5%;
            background-size: 100%;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                text-align: center;
                transition: opacity 0.2s ease-in;
                
                a{
                    @include a-tag-styling;
                }
            } 
        }
    }
}

.perseverance-div {
    position: relative;
    height: auto;
    background: url("img/northern-lights.jpg") $nrf center 0%;
    background-size: cover;
    
    #sisu{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #perseverance{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #perseverance-image{
        position: relative;
        top: 45vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #finnish-flag{
            height: 100%;
            width: 100%;
            background: url("img/finn-flag.jpg") $nrs 80% center;
            background-size: 137.797% 100%;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                text-align: center;
                transition: opacity 0.2s ease-in;
                
                a{
                    @include a-tag-styling;
                }
            } 
        }
    }
    
    #perseverance-paragraph{
        position: relative;
        top: -10vh;
        @include paragraph-margin(0, 10vh);
        @include secondary-font;
        font-size: 2em;
        color: $white;
        
        a{
            @include a-tag-styling;
        }
    }
}

.the-beginning-of-the-end-div {
    position: relative;
    height: auto;
    @include green-gradient-background;
    
    #nachalo-kontsa{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #the-beginning-of-the-end{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-beginning-of-the-end-paragraph{
        position: relative;
        @include paragraph-margin;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
}

.the-treaty-of-moscow-div {
    position: relative;
    height: auto;
    background: url("img/paper.jpg") $nrf center center;
    background-size: cover;
    
    #dogovor-moskvy{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #the-treaty-of-moscow{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-treaty-of-moscow-paragraph{
        position: relative;
        @include paragraph-margin;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
    
    #the-treaty-of-moscow-image{
        position: relative;
        top: 50vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #newspaper{
            height: 100%;
            width: 100%;
            background: url("img/newspaper.jpg") $nrs 0% 30%;
            background-size: 170%;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                text-align: center;
                transition: opacity 0.2s ease-in;
            } 
        }
    }
}

.aftermath-div {
    position: relative;
    height: auto;
    background: url("img/luftwaffe.jpg") $nrf center 30%;
    background-size: cover;
    
    #jalkiseuraukset{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #aftermath{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #aftermath-image{
        position: relative;
        top: 50vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #vyborg{
            height: 100%;
            width: 100%;
            background: url("img/vyborg.jpg") $nrs 0% 0%;
            background-size: cover;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                text-align: center;
                transition: opacity 0.2s ease-in;
            } 
        }
    }
    
    #aftermath-paragraph{
        position: relative;
        top: -10vh;
        @include paragraph-margin(0, 10vh);
        @include secondary-font;
        font-size: 2em;
        color: $white;
        
        a{
            @include a-tag-styling;
        }
    }
}

.footer-div{
    position: relative;
    height: auto;
    @include green-gradient-background;
    
    #lisaa-linkkeja{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 8em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #more-links{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 8em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    ul{
        position: relative;
        //top: 35vh;
        @include paragraph-margin(35vh, 10vh);
        
        li:first-child{
            color: $white;
            list-style-type: none;
            @include main-font;
            font-size: 4em;
        }
        
        li:nth-child(n+2){
            list-style-type: none;
            text-decoration: none;
            
            
            a{
                color: $white;
                transition: color 0.2s ease-in;
                display: block;
                padding: 10px; 
                margin: 5px 0;
                @include secondary-font;
                font-size: 1.5em;
                border-radius: 10px;
                transition: all 0.2s ease-in;
                
                &:hover{
                    color: $green;
                    background: $white;
                    animation: blinking-text-green 2s infinite;
                }
            }
            
            a:hover,
            a:active,
            a:visited,
            a:link{
                text-decoration: none;
            }
        }
    }
}

.snow-background canvas{
    position: absolute;
    top: 0;
    height: 100vh;
    background: transparent;
    //opacity: 0;
}

@include for-phone-portrait{
    .intro-div {
        position: relative;
        top: 0vh;
        height: 47vh;
        background: none;
        background-size: 100vw $intro-1-height; //replacement for "cover" property makes parallax background scrolling possible 
        //@include occasional-brightness;
        //@include global-padding;
        z-index: 50;    

        #intro-video {
            position: absolute;
            right: 0;
            top: 0;
            width: 150%; 
            animation: none;
            filter: contrast(110%);
        }

        .text-container{
            height: 100%;
            width: 100%;
            z-index: 99;
        }

        #the-winter-war{
            position: absolute;
            top: 15vh;
            @include main-font;
            font-size: 5em;
            color: $white;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 1;
            text-shadow: 2px 2px $green;
            transition: opacity 0.2s ease-in;
        }

        #the-story{
            top: 28vh;
            font-size: 1.2em;
            width: 80%;
        }

        #down-arrow{
            position: absolute;
            bottom: 5vh;
            @include main-font;
            font-size: 1.5em;
            color: $white;
            left: 0;
            right: 0;
            width: 30px;
            margin: auto;
            cursor: pointer;
            line-height: 15px;
            text-shadow: 2px 2px $green;
            animation: down-arrow-animation 3s infinite;
            z-index: 99;
        }
    }

    .buffer-zone-div {
        #bufernaya-zona, #buffer-zone{
            top: 10vh;
            font-size: 3.5em;
        }

        #buffer-zone-paragraph{
            @include paragraph-margin(25vh, 10vh);            
            font-size: 1.5em;
        }
    }

    .inevitable-war-div {
        background: url("img/ussr-wallpaper-mini.jpg") $nrf center center;
        background-size: cover;

        #neizbezhnaya-voyna, #inevitable-war{
            top: 10vh;
            font-size: 3.5em;
        }

        #inevitable-war-paragraph{
            @include paragraph-margin(35vh, 0);
            font-size: 1.5em;
        }
    }

    .outnumbered-div {
        background: url("img/tanks-red-army-mini.jpg") $nrf 80% center;
        background-size: cover;

        #alakynnessa, #outnumbered{
            top: 10vh;
            font-size: 3.5em;
        }

        #outnumbered-paragraph{
            @include paragraph-margin(25vh, 10vh);
            font-size: 1.5em;
        }
    }

    .home-field-advantage-div {
        background: url("img/forest-1-mini.jpg") $nrf 70% 100%;
        background-size: cover;

        #kotikenttaetu, #home-field-advantage{
            top: 10vh;
            font-size: 3.5em;
        }

        #home-field-advantage-paragraph{
            @include paragraph-margin(25vh, 10vh);
            font-size: 1.5em;
        }
    }

    .it-begins-div {
        #nachinayetsya, #it-begins{
            top: 10vh;
            font-size: 3.5em;
        }

        #it-begins-paragraph{
            @include paragraph-margin(35vh, 0);
            font-size: 1.5em;
        }
    }

    .the-winter-freeze-div {
        background: url("img/forest-2-mini.jpg") $nrf 100% 100%;
        background-size: cover;

        #zimniye-zamorazhivaniye, #the-winter-freeze{
            top: 10vh;
            font-size: 3.5em;
        }

        #the-winter-freeze-paragraph{
            @include paragraph-margin(25vh, 10vh);
            font-size: 1.5em;
        }
    }

    .the-white-death-div {
        background: url("img/sniper-mini.jpg") $nrf 60% center;
        background-size: cover;

        #valkoinen-kuolema, #the-white-death{
            top: 10vh;
            font-size: 3.5em;
        }
        
        #the-white-death-paragraph{
            @include paragraph-margin(25vh, 10vh);
            font-size: 1.5em;
        }
    }

    .perseverance-div {
        background: url("img/northern-lights-mini.jpg") $nrf 60% 0%;
        background-size: cover;

        #sisu, #perseverance{
            top: 10vh;
            font-size: 3.5em;
        }

        #perseverance-paragraph{
            @include paragraph-margin(35vh, 0);
            font-size: 1.5em;
        }
    }

    .the-beginning-of-the-end-div {
        #nachalo-kontsa, #the-beginning-of-the-end{
            top: 10vh;
            font-size: 3.5em;
        }
        
        #the-beginning-of-the-end-paragraph{
            @include paragraph-margin(25vh, 10vh);
            font-size: 1.5em;
        }
    }

    .the-treaty-of-moscow-div {
        background: url("img/paper-mini.jpg") $nrf 40% center;
        background-size: cover;

        #dogovor-moskvy, #the-treaty-of-moscow{
            top: 10vh;
            font-size: 3.5em;
        }

        #the-treaty-of-moscow-paragraph{
            @include paragraph-margin(25vh, 10vh);
            font-size: 1.5em;
        }
    }

    .aftermath-div {
        background: url("img/luftwaffe-mini.jpg") $nrf center 30%;
        background-size: cover;

        #jalkiseuraukset, #aftermath{
            top: 10vh;
            font-size: 3.5em;
        }

        #aftermath-paragraph{
            @include paragraph-margin(35vh, 0);
            font-size: 1.5em;
        }
    }

    .footer-div{
        #lisaa-linkkeja{
            top: 10vh;
            font-size: 3.5em;
        }

        #more-links{
            top: 10vh;
            font-size: 3.5em;
        }
        /*
        #videos-list{
                @include paragraph-margin(25vh, 10vh);
            }*/

        ul{
            
            li:first-child{
                font-size: 3em;
                
            }

            li:nth-child(n+2){
                list-style-type: none;
                text-decoration: none;


                a{
                    color: $white;
                    transition: color 0.2s ease-in;
                    display: block;
                    padding: 10px; 
                    margin: 5px 0;
                    @include secondary-font;
                    font-size: 1.3em;
                    border-radius: 10px;
                    transition: all 0.2s ease-in;

                    &:hover{
                        color: $green;
                        background: $white;
                        animation: blinking-text-green 2s infinite;
                    }
                }

                a:hover,
                a:active,
                a:visited,
                a:link{
                    text-decoration: none;
                }
            }
        }
        
        #videos-list{
            @include paragraph-margin(25vh, 0);
        }
            
        #details-list{
            @include paragraph-margin(10vh, 0);
        }
        
        #images-list{
            @include paragraph-margin(10vh, 10vh);
        }
    }

    .snow-background canvas{
        position: absolute;
        top: 0;
        height: 100vh;
        background: transparent;
        display: none;
    }
}




