//variables
$main-font: 'Amatic SC';
$secondary-font: "Josefin Slab";

$nrf: no-repeat fixed;
$nrs: no-repeat scroll;

$white: #fff;
$green: #30472e;
$blue: #0061ff;

$arrow-rotate-out: all 2.0s cubic-bezier(.37,1.01,.8,.99);

//These variable help replace background-size: cover while allowing background animations
//background-size: 100vw $specs-1-height replicates background-size: cover
//and allows scrollmagic/gsap to alter background size
//The multiple is based on each image's proportions. 
$intro-1-height: 100vw * .6668; 
$intro-3-height: 120vw * .7492; //Multiple based on image proportions
$intro-4-height: 100vw * .5625; //Multiple based on image proportions
$specs-1-height: 100vw * 0.5648;
$specs-3-height: 100vw * .7492; //Multiple based on image proportions

@keyframes occasional-brightness{
    20%, 30%	{-webkit-filter: brightness(100%); -moz-filter: brightness(100%);}
	25%		    {-webkit-filter: brightness(120%); -moz-filter: brightness(120%);}
}

@keyframes background-flash{
    0%, 20%, 70%    {opacity: 1;}
    25%             {opacity: 0.8;}  
}

@keyframes blinking-image{
    0%      {opacity: 0;}
    50%     {opacity: 1;}
}

@keyframes blinking-text-white{
    0%      {text-shadow: 1px 1px transparent;}
    50%     {text-shadow: 1px 1px $white;}
}

@keyframes blinking-text-green{
    0%      {text-shadow: 1px 1px transparent;}
    50%     {text-shadow: 1px 1px $green;}
}

@keyframes down-arrow-animation{
    0%          {transform: translateY(0); opacity: 1;}
    50%         {transform: translateY(30px); opacity: 1;}
    65%         {transform: translateY(30px); opacity: 0;}
    70%,95%     {transform: translateY(0); opacity: 0;}
}

//mixins
@mixin main-font{
    font-family: $main-font, cursive;
}

@mixin secondary-font{
    font-family: $secondary-font, serif;
}

@mixin a-tag-styling{
    color: $white;
    text-decoration: none;
    @include main-font;
    text-shadow: 1px 1px transparent;
    
    &:hover{
        animation: blinking-text-white 2s infinite;
    }
}

@mixin image-hover{
    div{
        transition: filter 0.2s ease-in;
    }

    &:hover div{
        filter: brightness(30%);
    }    
}

@mixin nav-color-change($b-radius: 20px){
    border-radius: $b-radius;
    transition: all 0.3s ease-in;
        
    &:hover{
        background: $white;
        color: $green;
    }
}

@mixin occasional-brightness{
    animation: occasional-brightness 8s infinite;
}

@mixin div-padding{
    padding: 10vh 0;
}

@mixin flex-display{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin for-small-phone-portrait {
    @media (max-width: 399px){ @content; }
}

@mixin for-large-phone-portrait {
    @media (min-width: 400px) and (max-width: 599px) { @content; }
}

@mixin for-small-tablet-portrait {
    @media (min-width: 600px) and (max-width: 899px) and (orientation: portrait){ @content; }
}

@mixin for-phone-landscape {
    @media (min-width: 600px) and (max-width: 899px) and (orientation: landscape){ @content; }
}

@mixin for-large-tablet-portrait {
    @media (min-width: 900px) and (max-width: 1199px) and (orientation: portrait){ @content; }
}

@mixin for-tablet-landscape {
    @media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape){ @content; }
}

@mixin for-small-desktop-or-large-tablet-landscape {
    @media (min-width: 1200px) and (max-width: 1399px){ @content; }
}

@mixin for-2K-and-4K-desktop-landscape {
    @media (min-width: 1921px){ @content; }
}

/*@mixin for-big-desktop {
    @media (min-width: 1800px) { @content; }
}*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
//------------RESET-------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background: $white;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: default;
    overflow-x: hidden;  
}

//modifies text highlight color
::selection {
    color: $white;
    background: $green; /* WebKit/Blink Browsers */
    opacity: 1;
}

.App{
    position: relative;
    width: 100%;
}

h1{
    color: #fff;
}

a:focus{
    outline: 2px solid $green;
}

*:focus{
    outline: none !important;
}

.tooltip-span{
    font-family: $secondary-font, Arial, Helvetica, serif;
    font-size: 1.7em;
    color: $green;
    
}

.check{
    color: $green !important;
}

.disable-arrows{
    pointer-events: none;
}

.fade-in{
    opacity: 1 !important;
}

.fade-out{
    opacity: 0 !important;
}

#App-logo {
    position: relative;
    top: 0;
    display: block;
    margin: 0 auto;
    width: 10%;
    //animation: App-logo-spin infinite 20s linear;
    height: 40px;
}

.blinking-image-class{
    animation: blinking-image 2s infinite;
}

#menu-white{
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 97;
    transition: opacity 0.2s ease-in;
    
    &:hover{
        cursor: pointer;
    }
}

#menu-white-clone{
    position: fixed;
    top: 11px;
    right: 19px;
    opacity: 0;
    z-index: 98;
    transition: opacity 0.2s ease-in;
    
    &:hover{
        cursor: pointer;
    }
}

.navbar{
    position: fixed;
    top: -58px !important;
    height: 55px;
    width: 100vw;
    background: $white;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 3px rgba(0,0,0,0.3);
    z-index: 99;
    transition: all 0.2s ease-in;
    
    .navbar-nav{
        width: 100vw !important;
    }
}

.navbar-default .navbar-nav > li > a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 17.5px 10px;
    //margin: 0px 10px;
    color: $green;
    @include main-font;
    font-size: 1.5em;
    transition: all 0.2s ease-in;
    
    &:hover{
        color: $green;
        background-color: $white;
        animation: blinking-text-green 2s infinite;
    }
}

.navbar-default .navbar-nav > li:first-child{
    margin-left: 3vw;
}
    
.navbar-default .navbar-nav >.active > a {
    color: $white;
    background: $green;
    //animation: blinking-text-green 2s infinite;
}

.navbar-default .navbar-nav> li:nth-child(n+2) > a:focus{
    color: $white !important;
    background: $green;
}

.navbar-default .navbar-nav >.active > a:hover{
    color: $white;
    background: $green;
    animation: blinking-text-white 2s infinite;
}

.navbar-displayed{
    top: 0px !important;
}

#up-arrow-green{
    position: absolute;
    top: 10px;
    right: 37px;
    transition: opacity 0.2s ease-in;
    
    &:hover{
        cursor: pointer;
    }
}

#up-arrow-green-clone{
    position: absolute;
    top: 11px;
    right: 36px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    
    &:hover{
        cursor: pointer;
    }
}

.intro-div {
    position: relative;
    height: 100vh;
    background: url("./img/finland-ussr-flags.jpg") $nrs 50% 50%;
    background-size: 100vw $intro-1-height; //replacement for "cover" property makes parallax background scrolling possible 
    //@include occasional-brightness;
    //@include global-padding;
    z-index: 50;    
    
    #intro-video {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%; 
        animation: background-flash 15s infinite 0s;
        filter: contrast(110%);
    }
    
    .text-container{
        height: 100%;
        width: 100%;
        z-index: 99;
    }
    
    #the-winter-war{
        position: absolute;
        bottom: 40vh;
        @include main-font;
        font-size: 12em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        text-shadow: 2px 2px $green;
        transition: opacity 0.2s ease-in;
    }
    
    #talvisota{
        position: absolute;
        bottom: 40vh;
        @include main-font;
        font-size: 12em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        text-shadow: 2px 2px $green;
        transition: opacity 0.2s ease-in;
    }
    
    #the-story{
        position: absolute;
        bottom: 37vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        text-shadow: 2px 2px $green;
    }
    
    #down-arrow{
        position: absolute;
        bottom: 7vh;
        @include main-font;
        font-size: 2.5em;
        color: $white;
        left: 0;
        right: 0;
        width: 30px;
        margin: auto;
        cursor: pointer;
        line-height: 25px;
        text-shadow: 2px 2px $green;
        animation: down-arrow-animation 3s infinite;
        z-index: 99;
    }
}

.buffer-zone-div {
    position: relative;
    height: 185vh;
    background: $green;
    
    #bufernaya-zona{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #buffer-zone{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #buffer-zone-paragraph{
        position: relative;
        top: 45vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        z-index: 25;
        
        a{
            @include a-tag-styling;
        }
    }
    
    #buffer-zone-image{
        position: relative;
        top: 50vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        z-index: 25;
        @include image-hover;
        
        #karelia-map{
            height: 100%;
            width: 100%;
            background: url("img/karelia.png") $nrs 0% 100%;
            background-size: 150%;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                opacity: 0;
                text-align: center;
                transition: opacity 0.2s ease-in;
                
                a{
                    @include a-tag-styling;
                }
            } 
        }
        
        &:hover p{
            opacity: 1;
        }
    }
}

.inevitable-war-div {
    position: relative;
    height: 160vh;
    background: url("img/ussr-wallpaper.jpg") $nrf center center;
    background-size: cover;
    z-index: 50;
    
    #neizbezhnaya-voyna{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #inevitable-war{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #inevitable-war-image{
        position: relative;
        top: 45vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #stalin{
            height: 100%;
            width: 100%;
            background: url("img/stalin.jpg") $nrs center 0%;
            background-size: 100% 115.1%;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                opacity: 0;
                text-align: center;
                transition: opacity 0.2s ease-in;
                
                a{
                    @include a-tag-styling;
                }
            } 
        }
        
        &:hover p{
            opacity: 1;
        }
    }
    
    #inevitable-war-paragraph{
        position: relative;
        top: -10vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        
        a{
            @include a-tag-styling;
        }
    }
}

.outnumbered-div {
    position: relative;
    height: 170vh;
    background: url("img/tanks-red-army.jpg") $nrf center center;
    background-size: cover;
    z-index: 50;
    
    #alakynnessa{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #outnumbered{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #outnumbered-paragraph{
        position: relative;
        top: 40vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        
        a{
            @include a-tag-styling;
        }
    }
}

.home-field-advantage-div {
    position: relative;
    height: 190vh;
    background: url("img/forest.jpg") $nrf center 90%;
    background-size: cover;
    z-index: 50;
    
    #kotikenttaetu{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #home-field-advantage{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #home-field-advantage-paragraph{
        position: relative;
        top: 40vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
    
    #home-field-advantage-image{
        position: relative;
        top: 45vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #finnish-soldiers{
            height: 100%;
            width: 100%;
            background: url("img/finnish-soldiers.jpg") $nrs 100% center;
            background-size: cover;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                opacity: 0;
                text-align: center;
                transition: opacity 0.2s ease-in;
                
                a{
                    @include a-tag-styling;
                }
            } 
        }
        
        &:hover p{
            opacity: 1;
        }
    }
}

.it-begins-div {
    position: relative;
    height: 160vh;
    background: $green;
    background-size: cover;
    
    #nachinayetsya{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #it-begins{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #it-begins-image{
        position: relative;
        top: 45vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        z-index: 50;
        @include image-hover;
        
        #soviet-troops{
            height: 100%;
            width: 100%;
            background: url("img/soviet-troops.jpg") $nrs 10% center;
            background-size: auto 100%; 
            border-radius: 10px;
            z-index: 50;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                opacity: 0;
                text-align: center;
                transition: opacity 0.2s ease-in;
            } 
        }
        
        &:hover p{
            opacity: 1;
        }
    }
    
    #it-begins-paragraph{
        position: relative;
        top: -10vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        z-index: 50;
        
        a{
            @include a-tag-styling;
        }
    }
}

.the-winter-freeze-div {
    position: relative;
    height: 160vh;
    background: url("img/forest-2.jpg") $nrf 100% 100%;
    background-size: cover;
    z-index: 50;
    
    #zimniye-zamorazhivaniye{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #the-winter-freeze{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-winter-freeze-paragraph{
        position: relative;
        top: 40vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
}

.the-white-death-div {
    position: relative;
    height: 210vh;
    background: url("img/sniper.jpg") $nrf center center;
    background-size: cover;
    z-index: 50;
    
    #valkoinen-kuolema{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #the-white-death{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-white-death-paragraph{
        position: relative;
        top: 45vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
    
    #the-white-death-image{
        position: relative;
        top: 50vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #simo-hayha{
            height: 100%;
            width: 100%;
            background: url("img/simo-hayha.jpg") $nrs center 5%;
            background-size: 100%;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                opacity: 0;
                text-align: center;
                transition: opacity 0.2s ease-in;
                
                a{
                    @include a-tag-styling;
                }
            } 
        }
        
        &:hover p{
            opacity: 1;
        }
    }
}

.perseverance-div {
    position: relative;
    height: 200vh;
    background: url("img/northern-lights.jpg") $nrf center 0%;
    background-size: cover;
    z-index: 50;
    
    #sisu{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #perseverance{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #perseverance-image{
        position: relative;
        top: 45vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #finnish-flag{
            height: 100%;
            width: 100%;
            background: url("img/finn-flag.jpg") $nrs 80% center;
            background-size: 137.797% 100%;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                opacity: 0;
                text-align: center;
                transition: opacity 0.2s ease-in;
                
                a{
                    @include a-tag-styling;
                }
            } 
        }
        
        &:hover p{
            opacity: 1;
        }
    }
    
    #perseverance-paragraph{
        position: relative;
        top: -10vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        
        a{
            @include a-tag-styling;
        }
    }
}

.the-beginning-of-the-end-div {
    position: relative;
    height: 215vh;
    background: $green;
    
    #nachalo-kontsa{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #the-beginning-of-the-end{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-beginning-of-the-end-paragraph{
        position: relative;
        top: 40vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        z-index: 50;
    }
}

.the-treaty-of-moscow-div {
    position: relative;
    height: 240vh;
    background: url("img/paper.jpeg") $nrf center center;
    background-size: cover;
    z-index: 50;
    
    #dogovor-moskvy{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #the-treaty-of-moscow{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #the-treaty-of-moscow-paragraph{
        position: relative;
        top: 45vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
    }
    
    #the-treaty-of-moscow-image{
        position: relative;
        top: 50vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #newspaper{
            height: 100%;
            width: 100%;
            background: url("img/newspaper.jpg") $nrs 0% 30%;
            background-size: 170%;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                opacity: 0;
                text-align: center;
                transition: opacity 0.2s ease-in;
            } 
        }
        
        &:hover p{
            opacity: 1;
        }
    }
}

.aftermath-div {
    position: relative;
    height: 155vh;
    background: url("img/luftwaffe.jpg") $nrf center 30%;
    background-size: cover;
    z-index: 50;
    
    #jalkiseuraukset{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #aftermath{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 10em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    #aftermath-image{
        position: relative;
        top: 50vh;
        height: 400px;
        width: 400px;
        border-radius: 10px;
        padding: 0;
        @include image-hover;
        
        #vyborg{
            height: 100%;
            width: 100%;
            background: url("img/vyborg.jpg") $nrs 0% 0%;
            background-size: cover;
            border-radius: 10px;
        }
        
        .text-container{
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            p{
                position: relative;
                color: $white;
                @include secondary-font;
                font-size: 1.5em;
                opacity: 0;
                text-align: center;
                transition: opacity 0.2s ease-in;
            } 
        }
        
        &:hover p{
            opacity: 1;
        }
    }
    
    #aftermath-paragraph{
        position: relative;
        top: -10vh;
        @include secondary-font;
        font-size: 2em;
        color: $white;
        
        a{
            @include a-tag-styling;
        }
    }
}

.footer-div{
    position: relative;
    height: 85vh;
    background: $green;
    
    #lisaa-linkkeja{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 8em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    
    #more-links{
        position: absolute;
        top: 10vh;
        @include main-font;
        font-size: 8em;
        color: $white;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
    
    ul{
        position: relative;
        top: 35vh;
        z-index: 50;
        
        li:first-child{
            color: $white;
            list-style-type: none;
            @include main-font;
            font-size: 4em;
        }
        
        li:nth-child(n+2){
            list-style-type: none;
            text-decoration: none;
            
            
            a{
                color: $white;
                transition: color 0.2s ease-in;
                display: block;
                padding: 10px; 
                margin: 5px 0;
                @include secondary-font;
                font-size: 1.5em;
                border-radius: 10px;
                transition: all 0.2s ease-in;
                
                &:hover{
                    color: $green;
                    background: $white;
                    animation: blinking-text-green 2s infinite;
                }
            }
            
            a:hover,
            a:active,
            a:visited,
            a:link{
                text-decoration: none;
            }
        }
    }
}

.snow-background canvas{
    position: fixed;
    top: 0;
    height: 100vh;
    background: transparent;
    z-index: 20;
}





